@*@model BuyalotV1._0.Models.InvoiceViewModel;*@
@using BuyalotV1._0.Models;

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Invoice</h2>
<div>
    <hr />
    @{ 
        String r = "R";
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Items</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in (List<InvoiceViewModel>)ViewBag.Invc)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Items</td>
                <td>@item.Date</td>
                <td>@r @item.Amount</td>
            </tr>
        }
        </tbody>
        
    </table>
</div>