@*@model BuyalotV1._0.Models.InvoiceViewModel;*@
@using BuyalotV1._0.Models;

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bootstrap -->
<link href="./Content/bootstrap-theme.css" rel="stylesheet" />
<link href="./Content/bootstrap.min.css" rel="stylesheet" />
<link href="./Content/stylesheet.css" rel="stylesheet" />

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="http://http://cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css" type="text/javascript" rel="stylesheet" />

<h2>Your Invoice</h2>
<div>
    <hr />
    @{ 
        String r = "R";
    }
    <table class="table table-striped" id="InvoiceTable">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Items</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in (List<InvoiceViewModel>)ViewBag.Invc)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Items</td>
                <td>@item.Date</td>
                <td>@r @item.Amount</td>
            </tr>
        }
        </tbody>
        
    </table>
</div>
<div>
    <br /><br /><br /><br /><br /><br /><br />
</div>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script>

     var table = $('#InvoiceTable').DataTable({
        "aoColumnDefs": [
           { 'bSortable': false, 'aTargets': [0, 2, 3, 4, 6, 7] }
        ],
        dom: 'Bfrtip',
        buttons: [
            'copy',
            'print',
            'pdf'
        ]
    });

    table.buttons().container()
   .appendTo('#InvoiceTable_wrapper .col-sm-6:eq(0)');
</script>